#Database Variables
SQLALCHEMY_DATABASE_URL = "dialect+driver://username:password@host:port/database"

#JWT Variables
JWT_SECRET_KEY = "some_key_here"
JWT_ALGORITHM = "some_algorithm_here"              
ACCESS_TOKEN_EXPIRE_MINUTES = 9999
